@use 'variables' as v;

@mixin telefono{
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet{
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop{
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktopXL{
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

@mixin grid($columnas, $gap) {
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap: $gap;
}

@mixin boton($bgColor, $color) {
    display: block;
    text-align: center;
    background-color: $bgColor;
    color: $color;
    font-size: 1.6rem;
    padding: 1rem 5rem;
    text-transform: uppercase;
    font-weight: 700;
    &:hover{
        opacity: .7;
    }
    @include tablet {
        width: max-content;
        display: inline-block;
    }
}

@mixin heading{
    line-height: 1.2;
    color: v.$celeste;
    font-size: 2rem;
    @include tablet { 
        font-size: 3rem;
    }
    @include desktop { 
        font-size: 4rem;
    }
    &::after{
        content: '';
        display: block;
        background-image: url(../img/header-contacto.png);
        background-repeat: no-repeat;
        height: 1rem;
        width: 60%;
        margin-top: 1rem;
    }
}
