$negro: #000;
$blanco: #fff;
$grisClaro: #e1e1e1;
$celeste: #00A9C4;
$verde: #c2d600;
$verdeOscuro: #aabd00;
$grisOscuro: #5a6770;

//iconos
$face: #3548f0;
$insta: #c53838;
$twitter: #00A9C4;
$youtube: #e70c0c;

$fuentePrincipal: 'Montserrat', sans-serif;
$fuenteSecundaria: 'Hind Siliguri', sans-serif;

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
