@use 'base/variables' as v;
@use 'base/mixins' as m;

.contacto{
    background-color: transparentize(v.$grisClaro, .5);
    &__hero{
        background-image: linear-gradient(to right, transparentize(v.$negro, .3) 0%, transparentize(v.$negro, .7) 100%), url(../img/header-contacto.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40rem;
        display: grid;
        place-items: center;
    }
    &__heading{
        color: v.$blanco;
        text-transform: uppercase;
    }
    &__grid{
        padding: 10rem 0;
    }
}

.formulario{
    background-color: v.$blanco;
    border-radius: 1rem;
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;
    margin-top: -15rem;
    &__fieldset{
        border: 1px solid v.$grisClaro;
    }
    &__legend{
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 auto 2rem auto;
        color: v.$grisOscuro;
    }
    &__campo{
        margin-bottom: 2rem;
    }
    &__label{
        display: block;
        margin-bottom: .5rem;
        text-transform: uppercase;
        color: v.$grisOscuro;
        font-weight: 700;
    }
    &__input{
        width: 100%;
        padding: 1rem;
        background-color: v.$blanco;
        border: 1px solid v.$grisClaro;
        &--submit{
            @include m.boton(v.$celeste, v.$blanco);
            border: none;
            margin-top: 2rem;
            cursor: pointer;
        }
    }
    &__area{
        width: 100%;
        height: 15rem;
    }
}