@use 'base/variables' as v;
@use 'base/mixins' as m;

.destacados{
    background-image: url(../img/trofeo_2.jpg);
    background-position: 5rem 25rem;
    background-repeat: no-repeat;
    background-size: 140%;
    @include m.tablet { 
        background-position: 25rem 5rem;
        background-size: 108%;
    }
    @include m.desktop {
        background-position: 57rem -10rem; 
        background-size: 70%; 
    }
    &__grid{
        @include m.tablet { 
            @include m.grid(5,3rem);
        }
    }
    &__contenido{
        padding: 5rem 0;
        @include m.tablet { 
            grid-column: 1/5;   
        }
        @include m.desktop { 
            grid-column: 1/4;
        }

    }
    &__heading{
        @include m.heading;
        font-size: 3rem;
        @include m.tablet { 
            font-size: 4rem;
        }
        @include m.desktop { 
            font-size: 5rem;
        }
    }
    &__descripcion{
        font-size: 2rem;
        margin: 3rem 0;
        line-height: 1.8;
        color: v.$negro;
        @include m.desktop { 
            font-size: 2.2rem
        }
    }
    &__enlaces{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        @include m.tablet { 
            align-items: flex-start;
        }
        @include m.desktop { 
            flex-direction: row;
        }
    }
    &__enlace{
        @include m.boton(v.$celeste, v.$blanco);
        &:hover{
            background-color: darken(v.$celeste, 5%);
            opacity: 1;
        }
        &--inscripcion{
            background-color: v.$verde;
            &:hover{
                background-color: darken(v.$verde, 5%);
            }
        }
    }
}