@use 'base/variables' as v;
@use 'base/mixins' as m;

.noticias{
        padding: 8rem 0;
    &__heading{
        @include m.heading;
        font-size: 3rem;
        padding-bottom: 5rem;
        @include m.tablet { 
            font-size: 4rem;
        }
        &::after{
            width: 20rem;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax( 30rem, 1fr ));
        gap: 3rem;
    }
    &__link{
        text-align: center;
    }
    &__enlace{
        @include m.boton(v.$celeste, v.$blanco);
        margin-top: 3rem;
    }
}

.noticia{
    &__imagen{
        object-fit: cover;
        width: 100%;
        height: 25rem;
    }
    &__nombre{
        font-size: 2rem;
        padding: 2rem 0;
    }
    &__fecha{
        font-weight: 700;
        margin-bottom: 1rem;
        color: v.$verde;
    }
}